/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"); */

:root {
  --primary: #141414;
  --light: #f3f3f3;
  --dark: #686868;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
  font-family: Arial;
}

img {
  max-width: 80%;
}

.carousel-container {
  display: grid;
  width: 90%;
  margin: auto;
  height: 350px;
  min-height: 200px;
  position: relative;
}

.carousel-container .carousel-item {
  overflow: hidden;
  height: 250px;
}

.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}

.carousel-container .item {
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.arrow__btn {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 6em;
  background: black;
  width: 80px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}

.left-arrow {
  display: block;
  position: absolute;
  top: 46%;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.left-arrow.show {
  display: block;
}

.right-arrow {
  position: absolute;
  top: 46%;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(248, 246, 246) 100%
  );
}

.right-arrow.hide {
  display: none;
}

/* Header*/
header {
  padding: 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-areas: "nt mn mn sb . . . ";
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;
  z-index: 5;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.Logo {
  grid-area: nt;
  object-fit: cover;
  width: 180px;
  max-height: 100%;
  padding-left: 30px;
  padding-top: 0px;
}

#logo {
  color: #0e0e0e;
  margin: 0;
  padding: 0;
}

.home {
  width: 50px;
}

.home a {
  background-color: var(--primary);
  text-decoration: none;
  color: rgb(98, 94, 99);
  padding: 16px;
  font-size: 16px;
  border: none;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #141414;
  --light: #f3f3f3;
  --dark: #686868;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3%;
  background-color: #000;
  font-family: Arial;
}

img {
  width: 90%;
  display: block;
}

.carousel-container {
  display: grid;
  width: 90%;
  margin: auto;
  height: 350px;
  min-height: 200px;
  position: relative;
}

.carousel-container .carousel-inner {
  overflow: hidden;
  height: 250px;
}

.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}

.carousel-container .item {
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.arrow__btn {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 6em;
  background: black;
  width: 80px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}

.left-arrow {
  display: block;
  position: absolute;
  top: 46%;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.left-arrow.show {
  display: block;
}

.right-arrow {
  position: absolute;
  top: 46%;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(248, 246, 246) 100%
  );
}

.right-arrow.hide {
  display: none;
}

/* Header*/
header {
  padding: 16px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-areas: "nt mn mn sb . . . ";
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;
  z-index: 5;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.Logo {
  grid-area: nt;
  object-fit: cover;
  width: 200px;
  max-height: 100%;
  padding-left: 30px;
  padding-top: 0px;
}

#logo {
  color: hsl(281, 92%, 47%);
  margin: 0;
  padding: 0;
}

.home {
  width: 50px;
}

.home a {
  background-color: var(--primary);
  text-decoration: none;
  color: rgb(139, 37, 155);
  padding: 18px;
  font-size: 16px;
  border: none;
}

.home a:hover {
  background-color: var(--primary);
}

.dropbtn {
  background-color: var(--primary);
  color: rgb(139, 37, 155);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(139, 37, 155);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--light);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--primary);
}

h1 {
  color: purple;
  text-align: left;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 90%;
  height: 90%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content {
  background-color: #930b93;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Depend de la taille de l'écran */
}

/* Fermeture */
.close {
  color: #171717;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hero {
  padding-top: 50px;
  width: 90%;
  background-size: cover;
  min-height: 400px;
  margin: auto;
}

.hero .heroContent {
  position: relative;
  color: var(--light);
  z-index: 0;
  width: 40%;
  left: 10vw;
  top: 10vw;
}

.hero .heroContent button {
  background: rgb(172, 4, 187);
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
}

/* Footer */
footer {
  padding: 12px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

/*# sourceMappingURL=styles.css.map */

.home a:hover {
  background-color: var(--primary);
}

.dropbtn {
  background-color: var(--primary);
  color: rgb(139, 37, 155);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(139, 37, 155);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--light);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--primary);
}

h3 {
  color: purple;
  text-align: left;
}

/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 90%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* Fermeture */
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 29px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-bar {
  padding-top: 50px;
  width: 90%;
  background-size: cover;
  min-height: 400px;
  margin: auto;
}

.nav-bar .nav-bar-Content {
  position: relative;
  color: var(--light);
  z-index: 0;
  width: 40%;
  left: 10vw;
  top: 10vw;
}

.nav-bar .nav-bar-Content button {
  background: rgb(171, 20, 164);
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
}

.carousel-container {
  position: relative;
  /* styles pour le carousel */
}
.carousel-items {
  display: flex;
  /* styles pour les éléments du carousel */
}
.carousel-category {
  flex: 0 0 100%;
  /* styles pour chaque catégorie de films */
}
.carousel-slide {
  display: flex;
  /* styles pour les diapositives de chaque catégorie de films */
}
.carousel-item {
  flex: 0 0 calc(100% / 7);
  /* styles pour chaque diapositive */
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* styles pour les flèches */
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}

/* Footer */
footer {
  padding: 12px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

/*# sourceMappingURL=styles.css.map */
